/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

.main {
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 25px;
}

label {
    margin-bottom: 15px;
}

select,
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

/*block registration*/
.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 30px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.gender {
    padding: 0;
    margin-top: 10px;
}

#gender option:first-child {
    display: none;
}

.help-block {
    position: absolute;
    top: 30px;
}

/*block registration END*/

/*block list of companies*/
.name-list {
    height: 270px;
    overflow-y: auto;
    padding: 0;
}

.name {
    list-style: none;
    background: #fff;
    padding: 15px 10px;
    border-bottom: 1px solid #000;
}

.img {
    display: inline-block;
    height: auto;
    width: 100px;
}

.window {
    height: 300px;
    background: #fff;
    border: 1px solid gray;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 0;
}

.companies-holder {
    padding: 40px 0;
}

.header-window {
    background: gray;
    color: #fff;
    padding: 5px 15px;
}

.circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.quantity-companies {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    font-size: 40px;
    text-align: center;
}
/*block list of companies END*/

/*custom styles for owl carousel*/
.owl-carousel .owl-item {
    height: 250px;
    width: 300px;
}

.owl-theme .owl-controls {
    margin-top: -10px !important;
}

/*custom styles for owl carousel END*/


